body{
    background-image: url("https://img.freepik.com/vector-gratis/diseno-patron-pow-colorido-lindo-gatito_1017-14710.jpg?w=740&t=st=1700237338~exp=1700237938~hmac=91017e2053f4f7a4725b8f32ec06d3acdc65cef1a767e88e6de7298d9cfee350");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}