.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fdf9eec2;
    padding: 1rem 0;
    border-bottom: 1px solid #dddddd86;
    width: auto;
  }
  
  .navbar-brand {
    background-color: white;
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    border: #333;
    border-radius: 50%;
    border-style:inherit;
    padding: 10px;
    margin-left: 0px;
  }
  
  .cart-widget {
    display: flex;
    align-items: center;
    padding: 0px 80px 0px 0px;
  }
  
  .nav-link {
   color: #555;
   background-color: #fdf9eec2;
   padding: 20px 20px 20px 20px;
   margin: 0px 30px 0px 30px;
   border: none;
  }
  .nav-link:hover {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV5xVg1NovIm7YfjaXECzt7wO59q71usK7ROrSUYkV3O4XtSDrDqhnKsDv8Ytx9o3uHC4&usqp=CAU");
      background-size: cover;
  background-position: center;
    color: rgb(0, 0, 0);
    border-radius: 80%;
  }
  
  @media (min-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar-brand {
      font-size: 1.5rem;
    }
  
    .nav-links {
      flex-direction: row;
      margin: 0;
    }
  }